* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.headerContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 75px;
}
.headerContainer .headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 75px;
  margin: 0 auto;
  padding: 0 20px;
}
.headerContainer .headerContent .title {
  font-size: 2.25rem;
  color: #0482c6;
}
.headerContainer .headerContent a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: bold;
  color: black;
  transition: color 0.3s ease-in-out;
}
.headerContainer .headerContent a:hover {
  color: #0482c6;
}
.headerContainer .headerContent a + a {
  margin-left: 25px;
}
.headerContainer .headerContent a .headerIcon {
  width: 18px;
  margin-right: 5px;
}
.headerContainer .headerContent .searchInput {
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background-color: transparent;
  background-image: url(../assets/images/searchIcon.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right;
}
.headerContainer .headerContent .searchInput:focus {
  outline: 0;
}
.headerContainer .headerContent .headerAlignCenter {
  display: flex;
  align-items: center;
}

.banner {
  position: relative;
  max-width: 1200px;
  height: calc(100vh - 75px);
  margin: 0 auto;
}
.banner .heroBanner {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner .heroBanner::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: brightness(1.2);
}
.banner .heroBannerContent {
  position: absolute;
  max-width: 310px;
  top: calc(50% - 83px);
  left: 100px;
  z-index: 6;
}
.banner .heroBannerContent span {
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
}
.banner .heroBannerContent button {
  position: relative;
  margin-top: 25px;
  padding: 0.75rem 2.25rem;
  font-weight: bold;
  background: white;
  border: 0;
  cursor: pointer;
}
.banner .heroBannerContent button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 1.25rem 4.25rem;
  border: 2px solid red;
  z-index: -1;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  padding: 15px 0;
}
.swiper .highlightsContainer {
  padding: 15px 0;
}
.swiper .highlightsContainer .highlightsTitle {
  margin-bottom: 5px;
}
.swiper .highlightsContainer hr {
  width: 30px;
  height: 2px;
  border: 1px solid #0482c6;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper .swiper-slide img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 250px;
  object-fit: cover;
}
.swiper .swiper-slide .productDescription span {
  display: block;
}
.swiper .swiper-slide .productDescription .productTitle {
  margin-top: 10px;
  font-weight: 500;
}
.swiper .swiper-slide .productDescription .oldPrice {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #797979;
}
.swiper .swiper-slide .productDescription .actualPrice {
  font-weight: 500;
}

.categorySection .coachCategory {
  position: relative;
  max-width: 1200px;
  margin: 25px auto 0;
}
.categorySection .coachCategory img {
  width: 100%;
  height: 100%;
}
.categorySection .coachCategory .card {
  position: absolute;
  width: 400px;
  height: 200px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  top: calc(50% - 100px);
  right: 25px;
  z-index: 10;
}
.categorySection .coachCategory .card .cardTitle {
  max-width: 198px;
  margin-bottom: 5px;
}
.categorySection .coachCategory .card span {
  color: #797979;
}
.categorySection .coachCategory .card button {
  position: relative;
  margin-top: 25px;
  padding: 0.75rem 2.25rem;
  font-weight: bold;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border: 0;
  cursor: pointer;
}
.categorySection .coachCategory .card button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 1.25rem 4.25rem;
  border: 2px solid red;
  z-index: -1;
}
.categorySection .rowCategories {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 5px auto 0;
}
.categorySection .rowCategories .chairCategory {
  position: relative;
  max-width: 595px;
}
.categorySection .rowCategories .chairCategory img {
  width: 100%;
  height: 100%;
}
.categorySection .rowCategories .chairCategory .card {
  position: absolute;
  width: 275px;
  height: 175px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  top: 50%;
  right: 25px;
  z-index: 10;
}
.categorySection .rowCategories .chairCategory .card .cardTitle {
  max-width: 200px;
}
.categorySection .rowCategories .chairCategory .card button {
  position: relative;
  margin-top: 25px;
  padding: 0.75rem 2.25rem;
  font-weight: bold;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border: 0;
  cursor: pointer;
}
.categorySection .rowCategories .chairCategory .card button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 1.25rem 4.25rem;
  border: 2px solid red;
  z-index: -1;
}
.categorySection .rowCategories .decorationCategory {
  position: relative;
  max-width: 595px;
}
.categorySection .rowCategories .decorationCategory img {
  width: 100%;
  height: 100%;
}
.categorySection .rowCategories .decorationCategory .card {
  position: absolute;
  width: 275px;
  height: 175px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  top: 50%;
  right: 25px;
  z-index: 10;
}
.categorySection .rowCategories .decorationCategory .card .cardTitle {
  max-width: 200px;
}
.categorySection .rowCategories .decorationCategory .card button {
  position: relative;
  margin-top: 25px;
  padding: 0.75rem 2.25rem;
  font-weight: bold;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border: 0;
  cursor: pointer;
}
.categorySection .rowCategories .decorationCategory .card button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 1.25rem 4.25rem;
  border: 2px solid red;
  z-index: -1;
}

.highlightsCategories {
  margin-top: 25px;
  background-color: #f0f0f0;
}
.highlightsCategories .highlightsContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
}
.highlightsCategories .highlightsContainer .highlightsTitle {
  margin: 25px 0 5px;
}
.highlightsCategories .highlightsContainer hr {
  width: 30px;
  height: 2px;
  border: 1px solid #0482c6;
}
.highlightsCategories .rowHighlightsCategories {
  display: flex;
  padding-bottom: 35px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.highlightsCategories .rowHighlightsCategories .majorCard {
  position: relative;
  width: 475px;
  height: 250px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}
.highlightsCategories .rowHighlightsCategories .majorCard .cardTitle {
  font-size: 1rem;
}
.highlightsCategories .rowHighlightsCategories .majorCard .cardDescription {
  display: flex;
  margin-top: 5px;
  color: #797979;
}
.highlightsCategories .rowHighlightsCategories .majorCard .cardDescription .cardPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #797979;
  border-radius: 50%;
  font-size: 1.25rem;
}
.highlightsCategories .rowHighlightsCategories .majorCard .cardDescription .cardLink {
  text-decoration: none;
  font-weight: bold;
  color: #797979;
  transition: color 0.3s ease-in-out;
}
.highlightsCategories .rowHighlightsCategories .majorCard .cardDescription .cardLink:hover {
  color: #646464;
}
.highlightsCategories .rowHighlightsCategories .majorCard .couchImg {
  position: absolute;
  top: calc(50% - 60px);
  right: -50px;
  width: 65%;
}
.highlightsCategories .rowHighlightsCategories .majorCard .lightImg {
  position: absolute;
  top: calc(50% - 130px);
  right: 0;
  width: 55%;
}
.highlightsCategories .rowHighlightsCategories .minorCard {
  position: relative;
  width: 350px;
  height: 250px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}
.highlightsCategories .rowHighlightsCategories .minorCard .cardTitle {
  font-size: 1rem;
}
.highlightsCategories .rowHighlightsCategories .minorCard .cardDescription {
  display: flex;
  margin-top: 5px;
  color: #797979;
}
.highlightsCategories .rowHighlightsCategories .minorCard .cardDescription .cardPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #797979;
  border-radius: 50%;
  font-size: 1.25rem;
}
.highlightsCategories .rowHighlightsCategories .minorCard .cardDescription .cardLink {
  text-decoration: none;
  font-weight: bold;
  color: #797979;
  transition: color 0.3s ease-in-out;
}
.highlightsCategories .rowHighlightsCategories .minorCard .cardDescription .cardLink:hover {
  color: #646464;
}
.highlightsCategories .rowHighlightsCategories .minorCard .workstationImg {
  position: absolute;
  top: calc(50% - 90px);
  right: -45px;
  width: 75%;
}
.highlightsCategories .rowHighlightsCategories .minorCard .rackImg {
  position: absolute;
  top: calc(50% - 110px);
  right: -45px;
  width: 75%;
}
.highlightsCategories .rowHighlightsCategories .minorCard .smartphoneImg {
  position: absolute;
  top: calc(50% - 91px);
  right: -40px;
  width: 70%;
}
.highlightsCategories .rowHighlightsCategories .minorCard .decorationImg {
  position: absolute;
  top: calc(50% - 113px);
  right: -40px;
  width: 65%;
}/*# sourceMappingURL=main.css.map */