* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.headerContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 75px;
}
.headerContainer .headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  height: 75px;
  margin: 0 auto;
  padding: 0 20px;
}
.headerContainer .headerContent .title {
  font-size: 2.25rem;
  color: #0482c6;
}
.headerContainer .headerContent a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: bold;
  color: black;
  transition: color 0.3s ease-in-out;
}
.headerContainer .headerContent a:hover {
  color: #0482c6;
}
.headerContainer .headerContent a + a {
  margin-left: 25px;
}
.headerContainer .headerContent a .headerIcon {
  width: 18px;
  margin-right: 5px;
}
.headerContainer .headerContent .searchInput {
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background-color: transparent;
  background-image: url(../assets/images/searchIcon.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right;
}
.headerContainer .headerContent .searchInput:focus {
  outline: 0;
}
.headerContainer .headerContent .headerAlignCenter {
  display: flex;
  align-items: center;
}

.banner {
  position: relative;
  max-width: 1200px;
  height: calc(100vh - 75px);
  margin: 0 auto;
}
.banner .heroBanner {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner .heroBanner::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: brightness(1.2);
}
.banner .heroBannerContent {
  position: absolute;
  max-width: 310px;
  top: calc(50% - 83px);
  left: 100px;
  z-index: 6;
}
.banner .heroBannerContent span {
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
}
.banner .heroBannerContent button {
  position: relative;
  margin-top: 25px;
  padding: 0.75rem 2.25rem;
  font-weight: bold;
  background: white;
  border: 0;
  cursor: pointer;
}
.banner .heroBannerContent button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 1.25rem 4.25rem;
  border: 2px solid red;
  z-index: -1;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  padding: 15px 0;
}
.swiper .highlightsContainer {
  padding: 15px 0;
}
.swiper .highlightsContainer .highlightsTitle {
  margin-bottom: 5px;
}
.swiper .highlightsContainer hr {
  width: 30px;
  height: 2px;
  border: 1px solid #0482c6;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper .swiper-slide img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 250px;
  object-fit: cover;
}
.swiper .swiper-slide .productDescription span {
  display: block;
}
.swiper .swiper-slide .productDescription .productTitle {
  margin-top: 10px;
  font-weight: 500;
}
.swiper .swiper-slide .productDescription .oldPrice {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #797979;
}
.swiper .swiper-slide .productDescription .actualPrice {
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */